<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">isabelle Cristine</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-title>Meu App</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        <img src="assets/isabelle.jpg" />
        <ion-card-title>Isabelle Cristine</ion-card-title>
        <ion-card-subtitle>Turma 2025.1 BS Mobile Manhã Ads301M</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-content>
</ion-content>
